% -*- mode: erlang -*-

% one add so far 
{sub_dirs,["rel"]}.

{cover_enabled, true}.

{xref_checks, {undefined_function_calls, 
	       locals_not_used, 
               exports_not_used, 
               deprecated_function_calls}}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [{edown, ".*", {git, "git://github.com/esl/edown", "master"}},
        {setup, ".*", {git, "git://github.com/esl/setup", "master"}}
       ]}.

{eunit_opts,[verbose, {eunit_exclude_deps, true}, {report, {eunit_surefire,[{dir,"."}]}}]}.

{edoc_opts, [{doclet, edown_doclet}]}.


%{escript_name, setup_gen}.


