{sys, [
       {lib_dirs, ["../", "../../"]},
       {rel, "request_router", "1",
        [
         kernel,
         stdlib,
         sasl, 
         os_mon
        ]},
       {rel, "start_sasl", "",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {boot_rel, "request_router"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "request_router"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/request_router", "bin/request_router"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
